<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Archer Search Page</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'search/style.css' %}">
</head>
<body>
<h3>Archer Search Page</h3>
<br>
<form action="{% url 'search:process_query' %}">
    {% csrf_token %}
    <label for="search_box">Query:</label>
    <input type="search" id="search_box" name="search_box"><br><br>
    <input type="submit" value="Submit">
    <br><br>
    <div class="switch-field">
		<input type="radio" id="radio-one" name="search_switch" value="ns" checked/>
		<label for="radio-one">Normal Search</label>
		<input type="radio" id="radio-two" name="search_switch" value="prs" />
		<label for="radio-two">PageRank Search</label>
	</div>
</form>
</body>
</html>